<div class="h-screen flex items-center flex-col pt-12">
  <form
    class="h-2/5 w-2/5 flex flex-col rounded-lg justify-center items-center text-center bg-gray-600"
    [formGroup]="loginForm"
  >
    <h1 class="text-3xl mb-5">Login Form</h1>
    <p class="text-red-600">{{ getError }}</p>

    <label>Login</label>

    <input type="text" formControlName="login" [class]="setInputStyle()" />
    <label>Password</label>
    <input
      type="password"
      formControlName="password"
      [class]="setInputStyle()"
    />

    <div class="grid grid-cols-2">
      <app-button
        content="Log in"
        buttonClass="main"
        (buttonClick)="LogActoin()"
      />
      <app-link-button content="Register Account" link="/register" />
    </div>
  </form>
</div>
