@if(!wasSuccessful){
    <form class="flex flex-col justify-center items-center text-center pt-5" [formGroup]="passwordForm">
        <h1 class="text-3xl mb-5">Change Passowrd</h1>
        <p class="text-red-500">{{getError}}</p>
        <label >Old password</label>
        <input type="password" value="oldPassword.value" formControlName="oldPassword"/>
        <label>New Password</label>
        <input type="password" value="newPassword.value" formControlName="newPassword"/>
        <label>Confirm Password</label>
        <input type="password" value="confirmNewPassword.value" formControlName="confirmNewPassword"/>
        <span class="grid grid-cols-2 gap-4">
            <app-button content="Save" buttonClass="main" (buttonClick)="submitNewPassword()"/>
            <app-button content="Exit" buttonClass="secondary"(buttonClick)="goBack()"/>
        </span>
    </form>
}
@else {
    <span
    class="h-full w-full flex flex-col rounded-lg justify-center items-center text-center bg-green-300 text-green-800"
    >
    <p>Password has been changed! Please navigate to the main page!</p>
        <app-link-button link="/main" content="Main Page" />
    </span>
}

