<div class="h-screen">
  <span class="flex justify-between pt-4">
    <app-link-button content="Go back" link="/admin" />
    <app-link-button content="Add New" link="/admin/questions/register" />
  </span>

  <div
    class="h-3/4 w-full flex-col flex users-center overflow-y-auto text-center"
  >
    <table class="table-auto w-full mt-12">
      <thead class="mb-10 bg-slate-900">
        <tr>
          <th>Question Id</th>
          <th>Question Title</th>
          <th>Question Category</th>
          <th>Question Score</th>
          <th>Correct Answer</th>
        </tr>
      </thead>
      <tbody>
        @if(questionList!.length > 0){ @for(question of questionList!; track
        question!.questionId) {
        <tr
          class="bg-slate-700 hover:bg-slate-400"
          (click)="selectQuestion(question!.questionId)"
        >
          <td>{{ question!.questionId }}</td>
          <td>{{ question!.questionTitle }}</td>
          <td>{{ question!.questionCategory }}</td>
          <td>{{ question!.questionScore }}</td>
          <td>{{ question!.correctAnswer }}</td>
        </tr>
        } } @else {
        <p>No questions to display!</p>
        }
      </tbody>
    </table>
  </div>
</div>
